In [32]:
import numpy as np
import pandas as pd
import sklearn

In [14]:
from sklearn.datasets import load_boston
df = load_boston()

In [3]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [12]:
print(df.data)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [17]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [23]:
boston['MEDV'] = df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...       B  LSTAT  MEDV  MODE  MEDIAN
0  0.00632  18.0   2.31   0.0  0.538  ...  396.90   4.98  24.0  24.0    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  396.90   9.14  21.6  21.6    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  392.83   4.03  34.7  34.7    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  394.63   2.94  33.4  33.4    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  396.90   5.33  36.2  36.2    36.2

[5 rows x 16 columns]

In [20]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...  PTRATIO      B  LSTAT   MEDV   MODE
0    False  False  False  False  False  ...    False  False  False  False  False
1    False  False  False  False  False  ...    False  False  False  False  False
2    False  False  False  False  False  ...    False  False  False  False  False
3    False  False  False  False  False  ...    False  False  False  False  False
4    False  False  False  False  False  ...    False  False  False  False  False
..     ...    ...    ...    ...    ...  ...      ...    ...    ...    ...    ...
501  False  False  False  False  False  ...    False  False  False  False  False
502  False  False  False  False  False  ...    False  False  False  False  False
503  False  False  False  False  False  ...    False  False  False  False  False
504  False  False  False  False  False  ...    False  False  False  False  False
505  False  False  False  False  False  ...    False  False  False  False  False

[506 rows x 15 columns]

In [24]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
MODE       0
MEDIAN     0
dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
x = boston.drop('MEDV', axis=1)
y = boston['MEDV']
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size = 0.15,random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(430, 15)
(76, 15)
(430,)
(76,)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [28]:
lin_model =  LinearRegression()

lin_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
y_train_predict = lin_model.predict(x_train)
rmse =(np.sqrt(mean_squared_error(y_train,y_train_predict)))

print("The model performance for training data set")
print('RMSE is {}'.format(rmse))
print("\n")

y_test_predict = lin_model.predict(x_test)
rmse =(np.sqrt(mean_squared_error(y_train,y_train_predict)))


print("The model performance for training data set")
print('RMSE is {}'.format(rmse))

The model performance for training data set
RMSE is 4.833059583041917e-14


The model performance for training data set
RMSE is 4.833059583041917e-14